/* 본 scss 파일을 수정하여 작업해주세요 */
body {
  margin: 0px;
}

* {
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

$black: rgb(4, 17, 29);
$gray: rgb(112, 122, 131);
$white: rgb(255, 255, 255);

// 반응형 768px > 1200px > 1600px > 2256px
// 최대 컨테이너 길이 2560px (영상배너는 제외)

// Header.js
nav {
  position: sticky;
  top: 0;
  z-index: 6;
  transition: 0.2s;
}

.navbar {
  background-color: transparent;
  color: $black;
  height: 72px;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 16px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  transition: 0.2s;
  z-index: 5;
}

.scroll {
  background-color: white;
  transition: 0.2s;
}

.navbar-menu {
  display: none;
}

@media (min-width: 1200px) {
  .navbar-menu {
    display: flex;
  }
}

.navbar-menu ul {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navbar-menu ul li {
  padding: 0 1rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: grid;
  position: absolute;
  top: 56px;
  left: 0;
  width: 200px;
  visibility: hidden;
  background-color: white;
  opacity: 0;
  translate: 0 24px;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 10px;
}

.dropdown-menu button {
  border-bottom: 1px solid rgb(230 232 235);
}

.dropdown-menu button:last-child {
  border-bottom: none;
}

.dropdown-menu button:hover {
  background-color: rgba(229, 232, 235, 0.2);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}

.dropdown-menu button {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  text-align: start;
}

.material-symbols-outlined {
  font-size: 32px;
}

ul li {
  // float: left;
  width: 100%;
  height: 40px;
  background-color: transparent;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
}

ul li:hover {
  // background-color: rgba(229, 232, 235, 0.2);
}

ul li ul li {
  display: none;
  padding: 0;
}

ul li ul {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 1rem;
}

ul li:hover ul li {
  display: block;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0 32px;
  }
}

@media (min-width: 1600px) {
  .navbar {
    padding: 0 64px;
  }
}

.navbar-logo {
  display: flex;
  padding-right: 32px;
}

@media (min-width: 600px) {
  .navbar-logo {
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .navbar-logo {
    padding-right: 48px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 6px;
  font-size: 1.2rem;
  font-weight: 650;
}

.search-section {
  width: 100%;
}

@media not all and (max-width: 599px) {
  .search-view-toggle {
    display: none !important;
  }
}

.search-form {
  // width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 48px;
  padding: 8px;
  margin-right: 32px;
  border: 1px solid rgb(230 232 235);
  // border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.search-form input {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100%;
}

.search-form:hover {
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 10px;
  transition: 0.3s;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  padding: 0 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 600px) {
  .search-form {
    display: none;
  }

  .navbar-icons ul li {
    padding: 0 .5rem;
  }

  .hamburger {
    padding: 0 .5rem;
  }
}

@media (max-width: 1024px) {
  .navbar-icons ul li:nth-child(-n+2) {
    display: none;
  }
}

// ~ Header.js

// Banner.js
.banner {
  margin-top: -72px;
  padding-top: 72px;
  background-image: url('./img/home-gradient-light.png');
  background-size: cover;
  width: 100%;
}

.banner-container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 2560px;
}

.banner-title {
  margin: 40px auto 56px;
  display: flex;
  justify-content: center;
}

.banner-title h1 {
  font-weight: 800;
  font-size: 32px;
}

.banner-contents {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

.swiper-button-next {
  background: url(./img/right.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url(./img/left.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 22px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(3px);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  position: absolute;
  // transform: translateY(-50%);
  right: -6px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(240, 240, 240, 1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

@media (min-width: 1200px) {
  .banner-container {
    padding: 0 32px;
  }

  .banner-title h1 {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  .banner-container {
    padding: 0 64px;
  }

  .banner-title h1 {
    font-size: 48px;
  }
}

// swiper breakpoints  size < 768 : 2 , size < 1024 : 3
.card {
  width: initial;
  height: initial;
  border-radius: 16px;
  overflow: hidden;
}

.test-1 {
  display: flex;
}

.card-top {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
}

.card-top::before {
  content: '';
  clear: both;
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 16px 16px;
  z-index: 1;
}

.card-top img {
  display: block;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 16px;
  object-fit: cover;
  inset: 0px;
  z-index: 0;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover .card-top img {
  transform: scale(1.08);
  transition: 0.4s;
  // z-index: 1;
}

.card:hover .card-top::before {
  transform: scale(1.08);
  transition: 0.2s;
  z-index: 1;
}


// Rank.js
.container {
  margin: 0 auto;
  padding: 32px 16px 0;
  width: 100%;
  max-width: 2560px;
}

.rank-menu {
  display: grid;
  grid-template-columns: 2fr auto auto;
  gap: 1rem;
  border-bottom: 1px solid rgb(242 243 245);
  line-height: 3.5rem;
}

.rank-menu-left {
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.rank-menu-left .menu-content {
  // line-height: 4rem;
  cursor: pointer;
}

.active {
  color: rgb(53, 56, 64);
  // line-height: 1rem;
  border-bottom: 2px solid black;
}

.tab-content {
  display: grid;
  grid-template-columns: 1fr 0;
  padding-top: 30px;
}

@media (min-width: 1024px) {
  .tab-content {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.tab-content article:nth-child(2) {
  display: none;
}

.tab-content {
  display: none;
}

.show {
  display: grid;
}

.rank-menu-center {
  display: none;
  border: 1.5px solid rgb(230 232 235);
  border-radius: 16px;
  height: 48px;
  // padding: .75rem;
}

.rank-menu-center button {
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 12px;
}

.rank-menu-end {
  display: flex;
  border: 1.5px solid rgb(230 232 235);
  border-radius: 16px;
  height: 48px;
  margin-right: -1rem;
  // padding: .75rem;
}

.rank-menu-end button {
  padding: 11px 24px;
  font-size: 1rem;
  font-weight: 600;
}

.rank-menu-center button:nth-child(1) {
  background-color: rgb(242 243 245);
  border-radius: 16px 0 0 16px;
}

.table-head {
  display: flex;
  // gap: 10rem;
  padding: 4px 8px;
}

.table-head p:nth-child(1) {
  width: 80%
}

.table-head p:nth-child(2) {
  display: none;
  width: 20%;
}

.table-head p:nth-child(3) {
  display: flex;
  justify-content: end;
  width: 20%;
}

.table-head p {
  font-size: 12px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.table-contents {
  display: flex;
  padding: 12px 8px;
}

.table-contents:hover {
  box-shadow: none;
  background-color: rgba(229, 232, 235, 0.2);
  cursor: pointer;
}

.collection {
  display: flex;
  align-items: center;
  width: 80%;
}

.floor-price {
  display: none;
}

.volume {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
}

.collection-number {
  width: 23px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.collection-img {
  width: 53px;
  height: 53px;
  border-radius: 14px;
  background-color: beige;
  flex-shrink: 0;
}

.collection-text {
  font-weight: 600;
  color: rgb(4, 17, 29);
}

.collection-title {
  padding-left: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 1024px) {
  .rank-grid {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .rank-grid article:nth-child(2) {
    display: block;
  }

  .rank-menu-center {
    display: flex;
  }

  .rank-menu-end {
    margin: 0;
  }

  // .table-head {
  //   grid-template-columns: 3fr auto auto;
  //   gap: 5rem;
  // }

  .table-head p:nth-child(1) {
    width: 60%
  }

  .table-head p:nth-child(2) {
    display: flex;
    justify-content: end;
  }

  .collection {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .floor-price {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
  }

  .collection-img {
    width: 73px;
    height: 73px;
  }

  // .table-contents {
  //   display: grid;
  //   padding: 12px 8px;
  //   grid-template-columns: 3fr auto auto;
  // }
}

@media (min-width:1200px) {
  .container {
    padding: 40px 32px 0;
  }

  .rank-menu-left {
    gap: 30px;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 50px 64px 0;
  }

  .rank-menu-left {
    gap: 30px;
    font-size: 32px;
  }
}

// Notable.js
.title-text {
  font-size: 20px;
  font-weight: 600;
  color: rgb(53, 56, 64);
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .title-text {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .title-text {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.notable-card {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 16px;
  border-radius: 16px;
  margin: 4px 0 1rem;
  transition: box-shadow 0.25s, transform 0.25s;
}

.notable-card:hover {
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  transform: translate(0px, -4px);
}

.notable-card:hover .notable-card-top img {
  transform: translate(0px)
}

.notable-card-top {
  border-radius: 16px 16px 0 0;
}

.notable-card-top::before {
  display: none;
}

.notable-card-top img {
  border-radius: 16px 16px 0 0;
}

.card-bottom {
  padding: .5rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .card-bottom {
    padding: 1rem;
  }
}

.collection-name {
  padding-bottom: 1rem;
}

.collection-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-row {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

.table-row-title {
  font-size: 12px;
  color: rgb(112, 122, 131);
}

// Footer.js
footer {
  background-color: rgb(24, 104, 183);
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.footer-container {
  width: 85%;
  max-width: 2495px;
}

@media (min-width: 800px) {
  .footer-container {
    width: 82.5%;
  }
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(81 136 196);
}

.footer-row-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-row-content {
    width: 50%;
    padding-top: 40px;
    text-align: left;
  }

  .footer-row-content:first-of-type {
    padding-right: 64px;
  }

  .footer-row-content:last-of-type {
    padding-left: 64px;
  }
}

.content-name {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.footer-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-input {
  display: flex;
  background-color: white;
  color: rgb(53, 56, 64);
  width: 100%;
  margin-top: 1rem;
  padding: .75rem;
  border-radius: 16px;
  margin-right: 8px;
  min-width: 50px;
}

.footer-input input {
  width: 100%;
  background-color: transparent;
}

.footer-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 24px;
  background-color: rgb(32, 129, 226);
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: 162px;
  height: 44px;
  margin: 1rem 8px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer-left {
    width: 25%;
    padding-top: 40px;
    align-items: flex-start;
  }

  .footer-left .content-text {
    text-align: start;
  }
}

.footer-right {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media (min-width: 1024px) {
  .footer-right {
    width: 75%;
    padding: 40px 0 0 72px;
    align-items: flex-start;
  }
}

.footer-right-link {
  width: 20%;
}

.footer-nav {
  font-weight: 600;
  margin: 1rem 0;
}

.footer-nav-list li {
  text-align: start;
}

.footer-bottom {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.footer-bottom-content:first-of-type {
  width: 75%;
}

.footer-bottom-content:last-of-type {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.banner-collection {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 0 0 12px 16px;
  z-index: 3;
  font-size: 14px;
}

.banner-collection-title {
  font-size: 1rem;
  font-weight: 600;
}

// color palette
.blue {
  background-color: rgb(24, 104, 183);
}

.light-blue {
  background-color: rgb(32, 129, 226);
}

.yellow {
  background-color: #ecd84b;
}

.light-yellow {
  background-color: bisque;
}

.black {
  background-color: rgb(53, 56, 64);
}

.orange {
  background-color: orangered;
}

.pink {
  background-color: #ec9bb6;
}

.purple {
  background-color: #6465a5;
}

.light-gray {
  background-color: #bbb7ae;
}