/* 본 scss 파일을 수정하여 작업해주세요 */
body {
  margin: 0px;
}

* {
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

$black: rgb(4, 17, 29);
$gray: rgb(112, 122, 131);
$white: rgb(255, 255, 255);

// 반응형 768px > 1200px > 1600px > 2256px
// 최대 컨테이너 길이 2560px (영상배너는 제외)

// Header.js
.navbar {
  background-color: transparent;
  color: $black;
  height: 72px;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 16px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0 32px;
  }
}

@media (min-width: 1600px) {
  .navbar {
    padding: 0 64px;
  }
}

.navbar-logo {
  display: flex;
  padding-right: 32px;
}

@media (min-width: 600px) {
  .navbar-logo {
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .navbar-logo {
    padding-right: 48px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 6px;
  font-size: 1.2rem;
  font-weight: 800;
}

.search-section {
  width: 100%;
}

@media not all and (max-width: 599px) {
  .search-view-toggle {
    display: none !important;
  }
}

.search-form {
  // width: 500px;
  background-color: $white;
  height: 48px;
  padding: 8px;
  margin-right: 32px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-form input {
  border: 1px solid transparent;
  background-color: $white;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  padding: 0 1rem;
  font-weight: 700;
}

// ~ Header.js

// Banner.js
.banner {
  margin-top: -72px;
  padding-top: 72px;
  background-image: url('./img/home-gradient-light.png');
  background-size: cover;
  width: 100%;
}

.banner-container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 2560px;
}

.banner-title {
  margin: 40px auto 56px;
  display: flex;
  justify-content: center;
}

.banner-title h1 {
  font-weight: 800;
  font-size: 32px;
}

.banner-contents {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 1200px) {
  .banner-container {
    padding: 0 32px;
  }

  .banner-title h1 {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  .banner-container {
    padding: 0 64px;
  }

  .banner-title h1 {
    font-size: 48px;
  }
}

// swiper breakpoints  size < 768 : 2 , size < 1024 : 3
.test-card {
  width: initial;
  height: initial;
  border-radius: 16px;
}

.test-1 {
  display: flex;
}

.test-2 {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 16px;

}

.test-2::before {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 16px 16px;
}

.test-card img {
  display: block;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 16px;
  object-fit: cover;
  inset: 0px;
  z-index: 0;
}


// Rank.js
.rank-container {
  margin: 0 auto;
  padding: 32px 16px 0;
  width: 100%;
  max-width: 2560px;
}

.rank-menu {
  display: grid;
  grid-template-columns: 2fr auto auto;
  gap: 1rem;
  border-bottom: 1px solid rgb(242 243 245);
  line-height: 3.5rem;
}

.rank-menu-left {
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.rank-menu-left .menu-content {
  // line-height: 4rem;
}

.active {
  color: rgb(53, 56, 64);
  // line-height: 1rem;
  border-bottom: 2px solid black;
}

.rank-grid {
  display: grid;
  grid-template-columns: 1fr 0;
  padding-top: 30px;
}

.rank-grid article:nth-child(2) {
  display: none;
}

.rank-menu-center {
  display: none;
  border: 1.5px solid rgb(230 232 235);
  border-radius: 16px;
  height: 48px;
  // padding: .75rem;
}

.rank-menu-center button {
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 12px;
}

.rank-menu-end {
  display: flex;
  border: 1.5px solid rgb(230 232 235);
  border-radius: 16px;
  height: 48px;
  margin-right: -1rem;
  // padding: .75rem;
}

.rank-menu-end button {
  padding: 11px 24px;
  font-size: 1rem;
  font-weight: 600;
}

.rank-menu-center button:nth-child(1) {
  background-color: rgb(242 243 245);
  border-radius: 16px 0 0 16px;
}

.table-head {
  display: flex;
  // gap: 10rem;
  padding: 4px 8px;
}

.table-head p:nth-child(1) {
  width: 80%
}

.table-head p:nth-child(2) {
  display: none;
  width: 20%;
}

.table-head p:nth-child(3) {
  display: flex;
  justify-content: end;
  width: 20%;
}

.table-head p {
  font-size: 12px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.table-contents {
  display: flex;
  padding: 12px 8px;
}

.table-contents:hover {
  box-shadow: none;
  background-color: rgba(229, 232, 235, 0.2);
  cursor: pointer;
}

.collection {
  display: flex;
  align-items: center;
  width: 80%;
}

.floor-price {
  display: none;
}

.volume {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
}

.collection-number {
  width: 23px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(112, 122, 131);
}

.collection-img {
  width: 53px;
  height: 53px;
  border-radius: 14px;
  background-color: beige;
  flex-shrink: 0;
}


.collection-text {
  font-weight: 600;
  color: rgb(4, 17, 29);
}

.collection-title {
  padding-left: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 1024px) {
  .rank-grid {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .rank-grid article:nth-child(2) {
    display: block;
  }

  .rank-menu-center {
    display: flex;
  }

  .rank-menu-end {
    margin: 0;
  }

  // .table-head {
  //   grid-template-columns: 3fr auto auto;
  //   gap: 5rem;
  // }

  .table-head p:nth-child(1) {
    width: 60%
  }

  .table-head p:nth-child(2) {
    display: flex;
    justify-content: end;
  }

  .collection {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .floor-price {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
  }

  .collection-img {
    width: 73px;
    height: 73px;
  }

  // .table-contents {
  //   display: grid;
  //   padding: 12px 8px;
  //   grid-template-columns: 3fr auto auto;
  // }
}

@media (min-width:1200px) {
  .rank-container {
    padding: 40px 32px 0;
  }

  .rank-menu-left {
    gap: 30px;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .rank-container {
    padding: 50px 64px 0;
  }

  .rank-menu-left {
    gap: 30px;
    font-size: 32px;
  }
}